<h2 class="mat-title">New Author</h2>
<form [formGroup]="authorForm" (ngSubmit)="onSubmit()" novalidate>
  <div>
    <md-input-container>
      <input mdInput placeholder="Name" formControlName="name" required>
    </md-input-container>
  </div>

  <button md-button type="submit" [disabled]="!authorForm.valid">Submit</button>
  <div *ngIf="name.errors">
    <div *ngIf="name.errors.minlength">
      Name must be at least 4 characters long.
    </div>
  </div>

  <p>Form value: {{ authorForm.value | json }}</p>
  <p>Form status: {{ authorForm.status | json }}</p>
</form>